<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/detail.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="navegacion">
            <a class="anclaLogo" href="../index.html">
                <i class="fas fa-film" aria-hidden="true"></i>
                <span>CAC-Movies</span>
            </a>
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav">Tendencias</a></li>
                <li class="listaItem"><a class="linkNav">Registrarse</a></li>
                <li class="listaItem"><a class="linkNav iniciarSesion" href="login.html">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__detail">

        <section class="section1__detail" data-aos="zoom-in">
            <div class="container__detail">
                <div class="img__detail">
                    <img src="/public/css/images/img/poster.jpg" alt="marito">
                </div>
                <div class="container__text">
                    <div class="text__detail">
                        <div>
                            <h1>The Super Mario Bros. Movie (2023)</h1>
                            <p>04/05/2023 • Animation, Family, Adventure, Fantasy, Comedy • 1h 33m</p>
                        </div>
                        <div>
                            <h2>Overview</h2>
                            <p>While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and
                                Luigi are transported down a mysterious pipe and wander into a magical new world. But
                                when the brothers are separated, Mario embarks on an epic quest to find Luigi.
                            </p>
                        </div>
                    </div>
                    <div class="movie__container">
                        <div class="movie__maker">
                            <h3>Aaron Horvath</h3>
                            <p>Director</p>
                        </div>
                        <div class="movie__maker">
                            <h3>Michael Jelenic</h3>
                            <p>Director</p>
                        </div>
                        <div class="movie__maker">
                            <h3>Matthew Fogel</h3>
                            <p>Writer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section2__detail aos-init aos-animate" data-aos="fade-up" data-aos-offset="400"
            data-aos-delay="50" data-aos-duration="1000">
            <div>
                <h2>Ver trailer</h2>
                <iframe src="https://www.youtube.com/embed/RjNcTBXTk4I?si=EyBT2AykNAl9t2Ra" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="last__detail">
                <div class="social__detail">
                    <ul>
                        <li><a href="https://www.facebook.com/supermariomovie" target="_blank"><i
                                    class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/supermariomovie" target="_blank"><i class="fab fa-twitter"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://instagram.com/supermariomovie/" target="_blank"><i class="fab fa-instagram"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://www.thesupermariobros.movie/" target="_blank"><i class="fas fa-link"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="stats__detail">
                    <table>
                        <th>Info</th>
                        <tbody>
                            <tr>
                                <td><strong>Status</strong></td>
                                <td>Released</td>
                            </tr>
                            <tr>
                                <td><strong>Original Language</strong></td>
                                <td>English</td>
                            </tr>
                            <tr>
                                <td><strong>Budget</strong></td>
                                <td>$100.000.000,00</td>
                            </tr>
                            <tr>
                                <td><strong>Revenue</strong></td>
                                <td>$1.347.013.866,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav" href="">Términos y condiciones</a></li>
                <li class="listaItem"><a class="linkNav" href="">Preguntas frecuentes</a></li>
                <li class="listaItem"><a class="linkNav" href="">Ayuda</a></li>
                <li class="listaItem"><a class="linkNav administradorPeliculas" href="">Administrador Peliculas</a></li>
            </ul>
        </nav>
        <a href="#main" class="flechaArriba">
            <img src="/public/css/images/img/flecha-hacia-arriba.png" alt="ir arriba flecha">
        </a>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>

</html>